[user]
  name = Norman J. Harman Jr.
  email = njharman@gmail.com

[apply]
  whitespace=warn

[core]
  filemode = true
  autocrlf = false
  editor = vim

[branch]
  autosetupmerge = true

[push]
  default = simple

[alias]
  #up = "!git remote update -p; git merge --ff-only @{u}"
  br = branch -a
  ci = commit --verbose
  co = checkout
  ds = diff --staged
  dh = diff HEAD
  rl = reflog
  st = status --short
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(red)%h %C(black)%s %C(green)(%ar) %C(bold blue)<%an> %C(bold red)%d'
  alg = log --graph --abbrev-commit --decorate --all --format=format:'%C(red)%h %C(black)%s %C(green)(%ar) %C(bold blue)<%an> %C(bold red)%d'
  llg = log --graph --abbrev-commit --name-status --pretty=format:'%Cred%h%Creset %Cred%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%+b'
  ignored = ls-files -o -i --exclude-standard
  oldbranch = for-each-ref --sort=-authorname --format='%(refname) %(authorname) %(committerdate)' refs/remotes/origin/
  stats = shortlog -sn --since='10 weeks' --until='2 weeks'
  # git log --no-merges master..
  # See only the file names that has changed in current branch
  # git diff --no-commit-id --name-only --no-merges origin/master...
  # Similar to above, but see statistics on what files have changed and how
  # git diff --stat #Your diff condition

[color]
  ui = auto
[color "branch"]
  current = green reverse
  local = green
  remote = green
[color "diff"]
  meta = blue dim
  frag = magenta bold
  old = red bold
  new = green
[color "status"]
  added = green
  changed = red
  untracked = cyan
[fetch]
  prune = true
[rerere]
  enabled = true
